#
#    fty-metric-composite - Agent that computes new metrics from bunch of other metrics
#
#    Copyright (C) 2014 - 2015 Eaton                                        
#                                                                           
#    This program is free software; you can redistribute it and/or modify   
#    it under the terms of the GNU General Public License as published by   
#    the Free Software Foundation; either version 2 of the License, or      
#    (at your option) any later version.                                    
#                                                                           
#    This program is distributed in the hope that it will be useful,        
#    but WITHOUT ANY WARRANTY; without even the implied warranty of         
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the          
#    GNU General Public License for more details.                           
#                                                                           
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.            

Source:         fty-metric-composite
Section:        net
Priority:       optional
Maintainer:     fty-metric-composite Developers <eatonipcopensource@eaton.com>
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9),
    pkg-config,
    dh-autoreconf,
    libzmq3-dev,
    libczmq-dev,
    libmlm-dev,
    libfty-proto-dev,
    libcxxtools-dev,
    liblua5.1-0-dev,
    systemd,
    dh-systemd,
Build-Depends-Indep: asciidoc,
                     xmlto

Package: libfty-metric-composite1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: agent that computes new metrics from bunch of other metrics shared library
 This package contains shared library for fty-metric-composite: agent that computes new metrics from bunch of other metrics

Package: libfty-metric-composite-dev
Architecture: any
Section: libdevel
Depends:
    libzmq3-dev,
    libczmq-dev,
    libmlm-dev,
    libfty-proto-dev,
    libcxxtools-dev,
    liblua5.1-0-dev,
    libfty-metric-composite1 (= ${binary:Version})
Description: agent that computes new metrics from bunch of other metrics development tools
 This package contains development files for fty-metric-composite: agent that computes new metrics from bunch of other metrics

Package: fty-metric-composite
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: agent that computes new metrics from bunch of other metrics
 Main package for fty-metric-composite: agent that computes new metrics from bunch of other metrics

Package: fty-metric-composite-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    fty-metric-composite (= ${binary:Version}),
    ${misc:Depends}
Description: agent that computes new metrics from bunch of other metrics debugging symbols
 This package contains the debugging symbols for fty-metric-composite : agent that computes new metrics from bunch of other metrics.

