#!/usr/bin/make -f
# -*- makefile -*-

override_dh_autoreconf:
	sed -i -e 's|AC_CHECK_LIB(\[lua\]|AC_CHECK_LIB(\[lua5.1\]|g' -e 's|-llua|-llua5.1|g' configure.ac
	dh_autoreconf

override_dh_strip:
	dh_strip --dbg-package=composite-metrics-dbg

override_dh_auto_test:
	echo "Skipped for now"
%:
	dh $@ --with=autoreconf

.PHONY: override_dh_strip override_dh_auto_test
