[Unit]
Description=DC TH averaging configuration trigger
PartOf=bios.target

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
Persistent=true
Unit=dc_th.service

[Install]
WantedBy=bios.target
